Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
MP4/Copy of CS441 - SP24 - HW4  - Report Template.docx:Zone.Identifier
MP4/CS441_SP24_HW4_mrowiec3.ipynb
MP4/CS441_SP24_HW4_mrowiec3.ipynb:Zone.Identifier
MP4/penguins_size.csv:Zone.Identifier
MP4/pima-indians-diabetes.data.txt:Zone.Identifier
MP4/temperature_data.npz:Zone.Identifier
MP4/tree_high_dpi.png
MP4/.ipynb_checkpoints/CS441_SP24_HW4_mrowiec3-checkpoint.ipynb
.DS_Store